[run]
omit = 
    test_*.py
    *_test.py
    tests/*

exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    except ImportError:
    except Exception:
    pass

[report]
show_missing = True
skip_covered = False
precision = 2


[xml]
output = coverage.xml
